<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<main id='root'></main>

<script type="text/javascript">
  window.clouds = "<%= asset_path('clouds.png') %>";
  window.sunny = "<%= asset_path('sunny.png') %>";
  window.rain = "<%= asset_path('rain.png') %>";
  window.snow = "<%= asset_path('snow.png') %>";
  window.wind = "<%= asset_path('wind.png') %>";
  window.haze = "<%= asset_path('haze.png') %>";
  window.hail = "<%= asset_path('hail.png') %>";
  window.snow = "<%= asset_path('snow.png') %>";
  window.wind = "<%= asset_path('wind.png') %>";
  window.github = "<%= asset_path('github.png') %>";
  window.acLogo = "<%= asset_path('ac_logo.png') %>";
  window.linkedIn = "<%= asset_path('linkedIn.png') %>";
  window.notFound = "<%= asset_path('notFound.png') %>";
</script>